.square{
    background: blue;
    height: 100vh;
    width: 100vw;
    color: white;
    text-align: center;
}
.container{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btnMenos{
    width: 81px;
    font-size: 42px;
    color: red;
    padding: 30px;
    margin-bottom: 30px;
}
.text{
    font-size: 30px;
    margin-bottom: 15px;
}
.btnMais{
    width: 81px;
    font-size: 42px;
    color: green;
    padding: 30px;
    margin-bottom: 30px;
}
.reset{
    width: 200px;
    font-size: 42px;
    color: dimgray;
    padding: 30px;
}